/* ======= 4K style ======= */

@media (min-width: 1600px) and (max-width: 2600px) {
  .container {
    max-width: 1600px;
  }
  .card .dropdown-toggle {
    position: absolute;
    right: 26rem;
    border: unset !important;
}
}

/* ======= 4K style ======= */