/* footer */
footer {
  // background-color: rgb(6 121 126 / 98%);;
  border-top: 1px solid #dedbe6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: #06797e 0px -10px 40px -30px;
  margin-top: 2rem;
  // border-top: 1px solid #dedbe6;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding: 1rem;
  // box-shadow: #06797e 0px -10px 40px -38px
}
footer .img-footer img{
  width: 90px;
  // height: 95px;
}
footer .contant-footer h6{
  color: #259195;
  font-size: 0.8rem;
  font-family: "bold";
  margin: 0;
}
footer .contant-footer{
margin-right: .5rem;
}

/* footer */
